.login {
  height: 100vh;

  background: rgb(29, 11, 13);
  background: linear-gradient(
    90deg,
    rgba(29, 11, 13, 1) 0%,
    rgba(55, 29, 31, 1) 50%,
    rgba(88, 29, 34, 1) 100%
  );

  display: flex;
  align-items: center;
  justify-content: center;
}

.login .login__container {
  min-width: 15rem;
  min-height: 15rem;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1.5rem;
}

.login .login__container img {
  height: 4rem;
  border-radius: 100%;
  margin-bottom: 1rem;

  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.login .login__container input {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.login .login__container button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login .login__container button:hover {
  background-color: #046e47;
}

.login .login__container .login__dica {
  width: 100%;
  box-sizing: border-box;
  font-size: 0.8rem;
  color: #ccc;
  opacity: 0.5;
}

.login .login__container .login__dica span {
  color: #fff;
}
