@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #f4f4f4;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #581d22;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 20;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #b25738;
  top: 14%;
  left: 27%;
  animation-duration: 41s;
  animation-delay: -219s;
  transform-origin: 14vw 3vh;
  box-shadow: 40vmin 0 5.747717137134174vmin currentColor;
}
.background span:nth-child(1) {
  color: #b25738;
  top: 25%;
  left: 34%;
  animation-duration: 296s;
  animation-delay: -108s;
  transform-origin: 7vw 7vh;
  box-shadow: -40vmin 0 5.603460264987739vmin currentColor;
}
.background span:nth-child(2) {
  color: #b25738;
  top: 70%;
  left: 5%;
  animation-duration: 279s;
  animation-delay: -80s;
  transform-origin: -16vw 6vh;
  box-shadow: -40vmin 0 5.8908032558499075vmin currentColor;
}
.background span:nth-child(3) {
  color: #b25738;
  top: 83%;
  left: 95%;
  animation-duration: 207s;
  animation-delay: -65s;
  transform-origin: -6vw 18vh;
  box-shadow: -40vmin 0 5.3312383672618875vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffacac;
  top: 58%;
  left: 64%;
  animation-duration: 265s;
  animation-delay: -186s;
  transform-origin: -8vw -5vh;
  box-shadow: 40vmin 0 5.065943735678063vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffacac;
  top: 6%;
  left: 35%;
  animation-duration: 304s;
  animation-delay: -29s;
  transform-origin: -4vw 16vh;
  box-shadow: 40vmin 0 5.167165821684182vmin currentColor;
}
.background span:nth-child(6) {
  color: #e45a84;
  top: 22%;
  left: 40%;
  animation-duration: 198s;
  animation-delay: -162s;
  transform-origin: 21vw 1vh;
  box-shadow: -40vmin 0 5.768132170715783vmin currentColor;
}
.background span:nth-child(7) {
  color: #b25738;
  top: 84%;
  left: 91%;
  animation-duration: 100s;
  animation-delay: -107s;
  transform-origin: 25vw -7vh;
  box-shadow: -40vmin 0 5.641847133798436vmin currentColor;
}
.background span:nth-child(8) {
  color: #e45a84;
  top: 70%;
  left: 40%;
  animation-duration: 155s;
  animation-delay: -125s;
  transform-origin: 17vw 14vh;
  box-shadow: 40vmin 0 5.384336049391195vmin currentColor;
}
.background span:nth-child(9) {
  color: #e45a84;
  top: 40%;
  left: 70%;
  animation-duration: 173s;
  animation-delay: -160s;
  transform-origin: 14vw 24vh;
  box-shadow: -40vmin 0 5.869485723359666vmin currentColor;
}
.background span:nth-child(10) {
  color: #e45a84;
  top: 30%;
  left: 62%;
  animation-duration: 101s;
  animation-delay: -69s;
  transform-origin: -23vw -16vh;
  box-shadow: -40vmin 0 5.81495153389927vmin currentColor;
}
.background span:nth-child(11) {
  color: #b25738;
  top: 51%;
  left: 28%;
  animation-duration: 196s;
  animation-delay: -69s;
  transform-origin: 10vw -21vh;
  box-shadow: -40vmin 0 5.078485807291229vmin currentColor;
}
.background span:nth-child(12) {
  color: #e45a84;
  top: 28%;
  left: 11%;
  animation-duration: 153s;
  animation-delay: -45s;
  transform-origin: 9vw 3vh;
  box-shadow: -40vmin 0 5.662895505669122vmin currentColor;
}
.background span:nth-child(13) {
  color: #ffacac;
  top: 59%;
  left: 95%;
  animation-duration: 252s;
  animation-delay: -277s;
  transform-origin: -15vw 8vh;
  box-shadow: -40vmin 0 5.516835339994958vmin currentColor;
}
.background span:nth-child(14) {
  color: #b25738;
  top: 80%;
  left: 8%;
  animation-duration: 192s;
  animation-delay: -131s;
  transform-origin: -22vw -12vh;
  box-shadow: 40vmin 0 5.0746286352043946vmin currentColor;
}
.background span:nth-child(15) {
  color: #ffacac;
  top: 9%;
  left: 56%;
  animation-duration: 81s;
  animation-delay: -233s;
  transform-origin: -3vw 2vh;
  box-shadow: 40vmin 0 5.91643834250436vmin currentColor;
}
.background span:nth-child(16) {
  color: #ffacac;
  top: 33%;
  left: 11%;
  animation-duration: 288s;
  animation-delay: -206s;
  transform-origin: 22vw 2vh;
  box-shadow: 40vmin 0 5.170945555569894vmin currentColor;
}
.background span:nth-child(17) {
  color: #e45a84;
  top: 40%;
  left: 32%;
  animation-duration: 137s;
  animation-delay: -27s;
  transform-origin: -20vw -6vh;
  box-shadow: 40vmin 0 5.0971103150066845vmin currentColor;
}
.background span:nth-child(18) {
  color: #e45a84;
  top: 13%;
  left: 49%;
  animation-duration: 269s;
  animation-delay: -278s;
  transform-origin: 0vw 6vh;
  box-shadow: 40vmin 0 5.244604690327424vmin currentColor;
}
.background span:nth-child(19) {
  color: #b25738;
  top: 43%;
  left: 72%;
  animation-duration: 270s;
  animation-delay: -51s;
  transform-origin: 4vw 10vh;
  box-shadow: -40vmin 0 5.7216385030914925vmin currentColor;
}

.box {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem;
  margin-bottom: 12.5vh;

  -webkit-transition: background 0.5s 0s ease-in-out;
  -moz-transition: background 0.5s 0s ease-in-out;
  -o-transition: background 0.5s 0s ease-in-out;
  transition: background 0.5s 0s ease-in-out;
}

.box:hover {
  background: rgba(255, 255, 255, 0.1);

  -webkit-transition: background 0.5s 0s ease-in-out;
  -moz-transition: background 0.5s 0s ease-in-out;
  -o-transition: background 0.5s 0s ease-in-out;
  transition: background 0.5s 0s ease-in-out;
}

.login {
  flex-direction: column;
}

.login div {
  width: 10rem;
}

.login .input-container {
  margin-bottom: 0.5rem;
}

.login .input-container.error input {
  border: 2px solid red;
  background-color: #ffaac4;
  color: red;
}

.login .button-container {
  margin-top: 0.5rem;
}

.logout input,
.login input {
  height: 2rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  width: 100%;
}

.logout input,
.login .button-container input {
  color: #f4f4f4;
  background-color: #300410;
  font-weight: bold;
}

.logout input:hover,
.login .button-container input:hover {
  background-color: #160408;
  font-weight: bold;

  cursor: pointer;

  -webkit-transition: background 0.5s 0s ease-in;
  -moz-transition: background 0.5s 0s ease-in;
  -o-transition: background 0.5s 0s ease-in;
  transition: background 0.5s 0s ease-in;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;

  padding: 1rem 1.2rem;
}

.table {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.table .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.table .head h4 {
  width: 35%;
}

.table .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
}

.btn-crud {
  padding: 0.5rem;
  width: 3rem;
  border: none;
  cursor: pointer;

  color: #f4f4f4;

  border-radius: 3px;

  font-weight: bold;

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-crud:hover {
  opacity: 0.8;

  -webkit-transition: opacity 0.5s 0s ease-in;
  -moz-transition: opacity 0.5s 0s ease-in;
  -o-transition: opacity 0.5s 0s ease-in;
  transition: opacity 0.5s 0s ease-in;
}

.btn-crud.add {
  background-color: #77dd76;
  color: #3b6d3a;
}

.btn-crud.edit {
  background-color: #f1f143;
  color: #727220;
}

.btn-crud.del {
  background-color: #ff6961;
  color: #6b2d29;
}

.btn-crud.ok {
  background-color: #4e5052;
  color: #e1e2e4;
}

.table .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 0.5rem;
}

.table .content:last-child {
  margin-bottom: 0;
}

.table .content .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table .content .actions .btn-crud:first-child {
  margin-right: 0.25rem;
}

.head h4 {
  opacity: 0.4;
  font-family: 'Lobster', cursive;
}

.head h4 span {
  color: #000;
  margin-left: 0.25rem;
}

.head .invisible-btn {
  visibility: hidden;
  margin-bottom: 0.5rem;
}

.head .invisible-btn .btn-crud:first-child {
  margin-right: 0.25rem;
}

h2 {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);

  font-family: 'Lobster', cursive;
}

.footer,
.header {
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0.5;

  -webkit-transition: opacity 0.5s 0s ease-in;
  -moz-transition: opacity 0.5s 0s ease-in;
  -o-transition: opacity 0.5s 0s ease-in;
  transition: opacity 0.5s 0s ease-in;

  font-family: 'Lobster', cursive;
}

.footer span {
  opacity: 0.5;
}

.footer:hover,
.header:hover {
  opacity: 1;

  -webkit-transition: opacity 0.5s 0s ease-in;
  -moz-transition: opacity 0.5s 0s ease-in;
  -o-transition: opacity 0.5s 0s ease-in;
  transition: opacity 0.5s 0s ease-in;
}

.footer {
  font-size: 0.75rem;
  bottom: 1rem;
}

.header {
  font-size: 10vw;
  top: 10rem;
  opacity: 0.8;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.header span {
  opacity: 0.9;
  color: #e45a84;
}

.link-short,
.link-long {
  width: 35%;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1.1rem;

  color: #f4f4f4;
  text-decoration: none;
}

.link-short:hover,
.link-long:hover {
  color: #a1a1a1
}

.modal {
  background-color: #f4f4f4;
  color: #160408;
  border-radius: 15px;
  padding: 1rem;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  width: 50vw;
}

.modal .title {
  font-family: 'Lobster', cursive;
  margin-bottom: 0.75rem;
  font-size: 1.3rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal .content {
  display: flex;
  flex-direction: column;
}

.modal .content input {
  width: 100%;
  margin-bottom: 0.8rem;
  height: 2rem;
  padding: 0.75rem;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 4px;
  margin-top: 0.2rem;
}

.modal .content label {
  font-family: 'Lobster', cursive;
  opacity: 0.4;
}

.modal .action {
  justify-content: end;
  display: flex;
}

.modal .action button {
  width: auto;
  margin-top: 0.5rem;
}
